language: R
warnings_are_errors: true
jobs:
  include:
    - stage: prepare cache
      script: true
    - stage: test
env:
  global:
    - R_BUILD_ARGS="--no-build-vignettes --no-manual"
    - R_CHECK_ARGS="--no-build-vignettes --no-manual --timings" 
    - _R_CHECK_TIMINGS_="0"
r:
  - release
  - devel
os:
  - linux
cache: packages
addons:
  apt:
    packages:
        libfftw3-dev
