useDynLib(NetMix, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("graphics", "axis", "box", "hist", "image", "layout", "legend", "lines", "par", "plot", "points",
             "rasterImage", "title", "mtext", "text")
importFrom("grDevices", "as.raster", "colorRamp", "rgb")
importFrom("MASS", "ginv")
importFrom("Matrix", "forceSymmetric")
importFrom("methods", "as", "formalArgs")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "as.formula", "coef", "complete.cases", "density",
             "fitted", "kmeans", "lm.fit", "median", "model.frame",
             "model.matrix", "model.response", "na.omit", "optimHess", "plogis",
             "predict", "dlogis", "qlogis", "quantile", "rbinom", "rgamma",
             "rmultinom", "sd", "simulate", "terms", "update", "update.formula")
importFrom("utils", "getS3method","head")
importClassesFrom(Matrix)
S3method(coef, mmsbm)
S3method(gof, mmsbm)
S3method(head, mmsbm)
S3method(plot, mmsbm)
S3method(predict, mmsbm)
S3method(simulate, mmsbm)
S3method(summary, mmsbm)
S3method(vcov, mmsbm)

